<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="Property.Image"  class="card-img-top" src="assets/images/{{Property.Image}}.jpg">
    <img *ngIf="!Property.Image" class="card-img-top" src="assets/images/home_default.jpg">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item" >
        <button routerLink="/property-details/{{Property.Id}}" class="btn btn-primary">E</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
  </div>
    <div class="card-body p2">
      <h1>{{Property.Name}}</h1>
      <h2>{{Property.Type}}</h2>
      <h3>{{Property.Price}}</h3>
  </div>
</div>

